---
http_interactions:
- request:
    method: get
    uri: http://datapoint.metoffice.gov.uk/public/data/val/wxfcs/324060/json/capabilities?key=<DATAPOINT_API_KEY>&res=3hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"Resource\":{\"dataDate\":\"2014-02-19T13:00:00Z\",\"res\":\"3hourly\",\"type\":\"wxfcs\",\"TimeSteps\":{\"TS\":[\"2014-02-19T06:00:00Z\",\"2014-02-19T09:00:00Z\",\"2014-02-19T12:00:00Z\",\"2014-02-19T15:00:00Z\",\"2014-02-19T18:00:00Z\",\"2014-02-19T21:00:00Z\",\"2014-02-20T00:00:00Z\",\"2014-02-20T03:00:00Z\",\"2014-02-20T06:00:00Z\",\"2014-02-20T09:00:00Z\",\"2014-02-20T12:00:00Z\",\"2014-02-20T15:00:00Z\",\"2014-02-20T18:00:00Z\",\"2014-02-20T21:00:00Z\",\"2014-02-21T00:00:00Z\",\"2014-02-21T03:00:00Z\",\"2014-02-21T06:00:00Z\",\"2014-02-21T09:00:00Z\",\"2014-02-21T12:00:00Z\",\"2014-02-21T15:00:00Z\",\"2014-02-21T18:00:00Z\",\"2014-02-21T21:00:00Z\",\"2014-02-22T00:00:00Z\",\"2014-02-22T03:00:00Z\",\"2014-02-22T06:00:00Z\",\"2014-02-22T09:00:00Z\",\"2014-02-22T12:00:00Z\",\"2014-02-22T15:00:00Z\",\"2014-02-22T18:00:00Z\",\"2014-02-22T21:00:00Z\",\"2014-02-23T00:00:00Z\",\"2014-02-23T03:00:00Z\",\"2014-02-23T06:00:00Z\",\"2014-02-23T09:00:00Z\",\"2014-02-23T12:00:00Z\",\"2014-02-23T15:00:00Z\",\"2014-02-23T18:00:00Z\",\"2014-02-23T21:00:00Z\",\"2014-02-24T00:00:00Z\",\"2014-02-24T03:00:00Z\",\"2014-02-24T06:00:00Z\",\"2014-02-24T09:00:00Z\",\"2014-02-24T12:00:00Z\",\"2014-02-24T15:00:00Z\",\"2014-02-24T18:00:00Z\",\"2014-02-24T21:00:00Z\"]}}}"
  recorded_at: Wed, 19 Feb 2014 13:00:00 GMT
- request:
    method: get
    uri: http://datapoint.metoffice.gov.uk/public/data/val/wxfcs/all/json/324060?key=<DATAPOINT_API_KEY>&res=3hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"SiteRep\":{\"Wx\":{\"Param\":[{\"name\":\"F\",\"units\":\"C\",\"$\":\"Feels
        Like Temperature\"},{\"name\":\"G\",\"units\":\"mph\",\"$\":\"Wind Gust\"},{\"name\":\"H\",\"units\":\"%\",\"$\":\"Screen
        Relative Humidity\"},{\"name\":\"T\",\"units\":\"C\",\"$\":\"Temperature\"},{\"name\":\"V\",\"units\":\"\",\"$\":\"Visibility\"},{\"name\":\"D\",\"units\":\"compass\",\"$\":\"Wind
        Direction\"},{\"name\":\"S\",\"units\":\"mph\",\"$\":\"Wind Speed\"},{\"name\":\"U\",\"units\":\"\",\"$\":\"Max
        UV Index\"},{\"name\":\"W\",\"units\":\"\",\"$\":\"Weather Type\"},{\"name\":\"Pp\",\"units\":\"%\",\"$\":\"Precipitation
        Probability\"}]},\"DV\":{\"dataDate\":\"2014-02-19T12:00:00Z\",\"type\":\"Forecast\",\"Location\":{\"i\":\"324060\",\"lat\":\"51.0624\",\"lon\":\"-0.3243\",\"name\":\"HORSHAM\",\"country\":\"ENGLAND\",\"continent\":\"EUROPE\",\"elevation\":\"50.0\",\"Period\":[{\"type\":\"Day\",\"value\":\"2014-02-19Z\",\"Rep\":[{\"D\":\"WSW\",\"F\":\"5\",\"G\":\"13\",\"H\":\"100\",\"Pp\":\"6\",\"S\":\"2\",\"T\":\"6\",\"V\":\"MO\",\"W\":\"7\",\"U\":\"1\",\"$\":\"540\"},{\"D\":\"WSW\",\"F\":\"6\",\"G\":\"11\",\"H\":\"88\",\"Pp\":\"10\",\"S\":\"7\",\"T\":\"8\",\"V\":\"GO\",\"W\":\"8\",\"U\":\"1\",\"$\":\"720\"},{\"D\":\"SW\",\"F\":\"7\",\"G\":\"16\",\"H\":\"85\",\"Pp\":\"6\",\"S\":\"9\",\"T\":\"10\",\"V\":\"GO\",\"W\":\"7\",\"U\":\"1\",\"$\":\"900\"},{\"D\":\"SSW\",\"F\":\"6\",\"G\":\"16\",\"H\":\"92\",\"Pp\":\"5\",\"S\":\"7\",\"T\":\"8\",\"V\":\"GO\",\"W\":\"7\",\"U\":\"0\",\"$\":[...]
