---
http_interactions:
- request:
    method: get
    uri: http://datapoint.metoffice.gov.uk/public/data/val/wxobs/all/json/3769?key=<DATAPOINT_API_KEY>&res=hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"SiteRep\":{\"Wx\":{\"Param\":[{\"name\":\"G\",\"units\":\"mph\",\"$\":\"Wind
        Gust\"},{\"name\":\"T\",\"units\":\"C\",\"$\":\"Temperature\"},{\"name\":\"V\",\"units\":\"m\",\"$\":\"Visibility\"},{\"name\":\"D\",\"units\":\"compass\",\"$\":\"Wind
        Direction\"},{\"name\":\"S\",\"units\":\"mph\",\"$\":\"Wind Speed\"},{\"name\":\"W\",\"units\":\"\",\"$\":\"Weather
        Type\"},{\"name\":\"P\",\"units\":\"hpa\",\"$\":\"Pressure\"},{\"name\":\"Pt\",\"units\":\"Pa\\/s\",\"$\":\"Pressure
        Tendency\"},{\"name\":\"Dp\",\"units\":\"C\",\"$\":\"Dew Point\"},{\"name\":\"H\",\"units\":\"%\",\"$\":\"Screen
        Relative Humidity\"}]},\"DV\":{\"dataDate\":\"2014-02-19T15:00:00Z\",\"type\":\"Obs\",\"Location\":{\"i\":\"3769\",\"lat\":\"51.15\",\"lon\":\"-0.2333\",\"name\":\"CHARLWOOD\",\"country\":\"ENGLAND\",\"continent\":\"EUROPE\",\"elevation\":\"67.0\",\"Period\":[{\"type\":\"Day\",\"value\":\"2014-02-18Z\",\"Rep\":[{\"D\":\"SSW\",\"H\":\"90.0\",\"P\":\"1008\",\"S\":\"6\",\"T\":\"8.4\",\"V\":\"24000\",\"W\":\"7\",\"Pt\":\"F\",\"Dp\":\"6.8\",\"$\":\"960\"},{\"D\":\"SSW\",\"H\":\"90.0\",\"P\":\"1008\",\"S\":\"6\",\"T\":\"7.4\",\"V\":\"26000\",\"W\":\"10\",\"Pt\":\"F\",\"Dp\":\"5.9\",\"$\":\"1020\"},{\"D\":\"SW\",\"H\":\"93.0\",\"P\":\"1008\",\"S\":\"5\",\"T\":\"6.1\",\"V\":\"28000\",\"W\":\"2\",\"Pt\":\"R\",\"Dp\":\"5.0\",\"$\":\"1080\"},{\"D\":\"SW\",\"H\":\"95.0\",\"P\":\"1009\",\"S\":\"5\",\"T\":\"5.5\",\"V\":\"24000\",\"W\":\"2\",\"Pt\":\"R\",\"Dp\":\"4.8\",\"$\":\"1140\"},{\"D\":\"SSW\",\"H\":\"95.0\",\"P\":\"1009\",\"S\[...]
