---
http_interactions:
- request:
    method: get
    uri: http://datapoint.metoffice.gov.uk/public/data/val/wxfcs/all/json/324060?key=<DATAPOINT_API_KEY>&res=daily
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"SiteRep\":{\"Wx\":{\"Param\":[{\"name\":\"FDm\",\"units\":\"C\",\"$\":\"Feels
        Like Day Maximum Temperature\"},{\"name\":\"FNm\",\"units\":\"C\",\"$\":\"Feels
        Like Night Minimum Temperature\"},{\"name\":\"Dm\",\"units\":\"C\",\"$\":\"Day
        Maximum Temperature\"},{\"name\":\"Nm\",\"units\":\"C\",\"$\":\"Night Minimum
        Temperature\"},{\"name\":\"Gn\",\"units\":\"mph\",\"$\":\"Wind Gust Noon\"},{\"name\":\"Gm\",\"units\":\"mph\",\"$\":\"Wind
        Gust Midnight\"},{\"name\":\"Hn\",\"units\":\"%\",\"$\":\"Screen Relative
        Humidity Noon\"},{\"name\":\"Hm\",\"units\":\"%\",\"$\":\"Screen Relative
        Humidity Midnight\"},{\"name\":\"V\",\"units\":\"\",\"$\":\"Visibility\"},{\"name\":\"D\",\"units\":\"compass\",\"$\":\"Wind
        Direction\"},{\"name\":\"S\",\"units\":\"mph\",\"$\":\"Wind Speed\"},{\"name\":\"U\",\"units\":\"\",\"$\":\"Max
        UV Index\"},{\"name\":\"W\",\"units\":\"\",\"$\":\"Weather Type\"},{\"name\":\"PPd\",\"units\":\"%\",\"$\":\"Precipitation
        Probability Day\"},{\"name\":\"PPn\",\"units\":\"%\",\"$\":\"Precipitation
        Probability Night\"}]},\"DV\":{\"dataDate\":\"2014-02-19T15:00:00Z\",\"type\":\"Forecast\",\"Location\":{\"i\":\"324060\",\"lat\":\"51.0624\",\"lon\":\"-0.3243\",\"name\":\"HORSHAM\",\"country\":\"ENGLAND\",\"continent\":\"EUROPE\",\"elevation\":\"50.0\",\"Period\":[{\"type\":\"Day\",\"value\":\"2014-02-19Z\",\"Rep\":[{\"D\":\"WSW\",\"Gn\":\"11\",\"Hn\":\"88\",\"PPd\":\"7\",\"S\":\"7\",\"V\":\"GO\",\"Dm\":\"10\",\"FDm\":\"8\",\"W\":\"7\",\"U\":\"1\",\"$\":\"Day\"},{\"D\":\"S\",\"Gm\":\"27\",\"Hm\":\"97\",\"PPn\":\"77\",\"S\":\"13\",\"V\":\"MO\",\"Nm\":\"8\",\"FNm\":\"5\",\"W\":\"12\",\"$\":\"Night\"}]},{\"type\":\"Day\",\"value\":\"2014-02-20Z\",\"Rep\":[{\"D\":\"SW\",\"Gn\":\"25\",\"Hn\":\"92\",\"PPd\":\"93\",\"S\":\"16\",\"V\":\"GO\",\"Dm\":\"11\",\"FDm\":\"8\",\"W\":\"10\",\"U\":\"1\",\"$\":\"Day\"},{\"D\":\"WSW\",\"Gm\":\"11\",\"Hm\":\"92\",\"PPn\":\"15\",\"S\":\"7\",\"V\":\"GO\",\"Nm\":\"3\",\"FNm\":\"0\",\"W\":\"2\",\"$\":\"Night\"}]},{\"type\":\"Day\",\"value\":\"2014-02-21Z\",\"Rep\":[{\"D\":\"WSW\",\"Gn\":\"31\",\"Hn\":\"68\",\"PPd\":\"39\",\"S\":\"16\",\"V\":\"VG\",\"Dm\":\"8\",\"FDm\":\"4\",\"W\":\"1\",\"U\":\"1\",\"$\":\"Day\"},{\"D\":\"SW\",\"Gm\":\"20\",\"Hm\":\"86\",\"PPn\":\"39\",\"S\":\"13\",\"V\":\"GO\",\"Nm\":\"4\",\"FNm\":\"0\",\"W\":\"2\",\"$\":\"Night\"}]},{\"type\":\"Day\",\"value\":\"2014-02-22Z\",\"Rep\":[{\"D\":\"WSW\",\"Gn\":\"29\",\"Hn\":\"64\",\"PPd\":\"11\",\"S\":\"16\",\"V\":\"VG\",\"Dm\":\"9\",\"FDm\":\"5\",\"W\":\"3\",\"U\":\"1\",\"$\":\"Day\"},{\"D\":\"SSW\",\"Gm\":\"38\",\"Hm\":\"89\",\"PPn\":\"55\",\"S\":\"18\",\"V\":\"GO\",\"Nm\":\"6\",\"FNm\":\"3\",\"W\":\"7\",\"$\":\"Night\"}]},{\"type\":\"Day\",\"value\":\"2014-02-23Z\",\"Rep\":[{\"D\":\"SSW\",\"Gn\":\"47\",\"Hn\":\"85\",\"PPd\":\"58\",\"S\":\"25\",\"V\":\"GO\",\"Dm\":\"10\",\"FDm\":\"5\",\"W\":\"12\",\"U\":\"1\",\"$\":\"Day\"},{\"D\":\"SSW\",\"Gm\":\"31\",\"Hm\":\"87\",\"PPn\":\"57\",\"S\":\"18\",\"V\":\"GO\",\"Nm\":\"7\",\"FNm\":\"3\",\"W\":\"12\",\"$\":\"Night\"}]}]}}}}"
  recorded_at: Wed, 19 Feb 2014 13:00:00 GMT
recorded_with: VCR 2.8.0
